.error {
  color: #dc3545
}

input.error {
  border: 1px solid #dc3545;
}

.nav-item {
  cursor: pointer;
}

.nav>li>a:hover {
  background-color: none;
}

.nav-tabs>li>a:hover {
  border-color: none;
}

.nav-link.active {
  color: #464a4c;
  background-color: #fff;
  border-color: #ddd #ddd #fff;
}

.td-agency,
.td-office {
  vertical-align: middle !important;
  font-size: 15px;
}

.btn-add-agency,
.btn-add-office {
  margin-top: 18px;
  margin-bottom: 18px;
  float: right;
}

.btn-add-inward {
  margin-top: 18px;
}

.btn-edit-agency,
.btn-edit-office {
  float: right;
}

.btn {
  cursor: pointer;
}

.admin-panel-tabs,
.inwards-panel-tabs {
  margin-top: 30px;
}

.no-agency-msg,
.no-office-msg {
  padding-top: 100px;
}

.input-dt {
  margin-right: 10px;
}

.dd-toggle {
  width: 50%;
  display: block;
  text-align: left !important;
}

.dropdown-toggle::after {
  float: right;
  margin-top: 7px;
}

.force-no-left-padding {
  padding-left: 0 !important;
}

.info-payment-text {
  font-size: 14px;
  color: red;
  padding-bottom: 10px;
}

.amt-green {
  color: green;
}

.amt-red {
  color: red;
}

.no-padding-on-sides {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
